.body{
    padding-top: 5vw;
}

.newmess{
    text-decoration: darkblue;
}



a:visited{
    color: rgb( 155,207,249);
}


.sujet{
    border:2px solid darkblue;
}
.titre{
    position:absolute;
    left: 43vw;
    top: 6vw;
    font-size:xx-large;
    color: #3c3f41;
    font-family: "AR BLANCA";

}
.poster{
    color:blue;
}
.le{
    color:blue;
}
.nom{
    color:blue;
}
body {
    background-image: url("../Vue/image/fond.jpg");
    background-size: cover;
}

input{
    width: 13vw;
}
.tableau{
    position:absolute;
    left:30%;
}