    margin-left: 25vw;
    margin-right: 25vw;
    border-spacing: 4vw;
    font-size: 0;


}

.section td{
    border:1px solid black;
    list-style-type: none;
    text-align: center;
    border-radius: 2vw;
}

.section a{
    text-decoration: none;
    position: relative;
    top: 2.5vw;
    font-size: 3vw;
    font-family: Arial;
    font-weight: bold;
}

.section img {
    float: left;
    width: 20%;
}

a:visited
{
    color: black;
}
