.case
{
    position: absolute;
    left:0%;
    top:10%;
    width: 70%;
    height: 80%;
}


.section{
    font-size:300%;
    color:white;
}
nav{
    position: absolute;
    top: 20%;
    left: 40%;
    color: white;

}
a:visited /* Quand le visiteur a déjà vu la page concernée */

{

    color: brown; /* Appliquer une couleur marron */

}
a:hover /* Apparence au survol des liens */

{
    color: purple;

}
.stat
{
    position: absolute;
    width:5%;
    height:5%;
    top: 25%;
    left: 55%;
}
.capteur
{
    position: absolute;
    width:5%;
    height:5%;
    top: 43%;
    left: 55%;
}
.case
{
    position: absolute;
    width:50%;
    height:40%;
    top: 19%;
    left: 30%;
}