.forum {
    position: absolute;
    top: 5%;
    left:40%;
    color:black;
    font-style: normal;
    font-size:50px;
}

.allumage {
    position: absolute;
    top: 20%;
    left: 2%;
    color:black;
    font-style: normal;
    font-size: 25px;
}
.onoff {
    position: absolute;
    top: 20%;
    left: 10%;
    color:black;
    font-style: normal;
    font-size: 25px;
}
.search{
    position: absolute;
    top: 10%;
    left:70%;
    color:black;
    font-style: normal;

}
.subject {
    position: absolute;
    top: 21%;
    left: 50%;
    color:black;
    font-style: normal;

}
.topic{
    position:absolute;
    top:35%;
    width:98%;

}
/**
body{
    background: url("traitforum.png") no-repeat left;
    background: url("traitforum.png") no-repeat top;
    top:50%;

}
*/