body{
    background: url("FondCodeFirstUserLogin.png") no-repeat left;
    background: url("FondCodeFirstUserLogin.png") no-repeat top;

    background-size: 70%;

}
.code{
    position: absolute;
    top:62%;
    left: 25%;
}
.login{
    position: absolute;
    top:70%;
    left:30%;
}