body{
    background: url("FondQ&A.png") no-repeat left;
    background: url("FondQ&A.png") no-repeat top;

    background-size: 100%;

}
h1{
    font-size: 500%;
}
.positiveQuestion{
    position: absolute;
    top: 22%;
    left:15%;
}
.negativeQuestion{
    position: absolute;
    top: 50%;
    left:15%;
}