/*body{
    background: url("encadre.png") no-repeat left;
    background: url("encadre.png") no-repeat top;
    top:5%;
    left:1%;
    width: 20%;
    height: 50%;


}*/
h1{
    position:absolute;
    top:0;
    Left:45%;
    font-size:500%;
}
.chambre{
    position:absolute;
    top:20%;
    Left:30%;
    font-size:250%;
}
.sdb{
    position:absolute;
    top:20%;
    Left:45%;
    font-size:250%;
}
.cuisine{
    position:absolute;
    top:20%;
    Left:65%;
    font-size:250%;
}
.salon{
    position:absolute;
    top:50%;
    Left:30%;
    font-size:250%;
}
.wc{
    position:absolute;
    top:50%;
    Left:45%;
    font-size:250%;
}

.chambri{
    position:absolute;
    top:33%;
    Left:30%;
    width:10%;
    height:10%;
}
.sdbi{
    position:absolute;
    top:33%;
    Left:45%;
    width:10%;
    height:10%;
}
.cuisini{
    position:absolute;
    top:33%;
    Left:65%;
    width:10%;
    height:10%;
}
.saloni{
    position:absolute;
    top:63%;
    Left:30%;
    width:10%;
    height:10%;
}
.wci{
    position:absolute;
    top:63%;
    Left:45%;
    width:10%;
    height:13%;
}
.stat{
    font-size:200%;
    position:absolute;
    top:5%;
    left:5%;

}
.consommation{
    font-size:125%;
    position:absolute;
    top:20%;
    left:5%;

}
.puissance{
    font-size:125%;
    position:absolute;
    top:35%;
    left:5%;
}

.consoValue{
    font-size:125%;
    position:absolute;
    top:25%;
    left:5%
}
.powerValue{
    font-size:125%;
    position:absolute;
    top:40%;
    left:5%
}
.cadre{
    left:1%;
    width: 20%;
    height: 50%;
}