footer{
    margin-top: 25vw;
    font-family: Arial;
}

#footer_font {
    position:fixed;
    bottom: 0;
    left: 0;
    height: 4vw;
    width: 100%;
    background-color: #9f9f9f;
}
#footer2 {
    position: fixed;
    left: 5%;
    bottom: -1vw;
    width: 100%;
    background-color:transparent;
    color: #fff;
    text-align: left;
}
#footer1 {
    position:fixed;
    right:5%;
    bottom: -1vw;
    width: 100%;
    background-color: transparent;
    color: #fff;
    text-align: right;
}
#footer1 p{
    font-size:1vw;
}
#footer2 p{
    font-size:1vw;
}