*{
    margin: 0;
    padding: 0;
}
#header_font{
    position:sticky;
    height: 4vw;
    width: 100%;
    background-color: #9f9f9f;
}
header{
    position: sticky;
}

#logo{
    display: block;
    position: fixed;
    width:4%;
    margin-left:10px;
    margin-top: -4vw;
}


#menu, #menu ul{
    padding:0;
    list-style:none;
    text-align:right;

}
#menu {
    margin-top:-4vw;
    margin-left: 5vw;
    position: sticky;
    height: auto;

}
#menu li{
    display: inline-block;
    position:sticky;
    text-align: center;


}
#menu ul li{
    display:inherit;
}
#menu ul li:hover{
    color: #fff;
    border-radius:0;
}
#menu ul li:last-child{

}
#menu ul{
    position:absolute;
    max-height:0;
    left: 0;
    right: 0;
    overflow:hidden;
    -moz-transition: .8s all .3s;
    -webkit-transition: .8s all .3s;
    transition: .8s all .3s;
    width: 100%;
}
#menu li:hover ul{
    max-height:15em;
}
/* background des liens menus */
#menu li:first-child{
    background-color: #9f9f9f;

}
#menu li:nth-child(2){
    background-color: #9f9f9f;

}
#menu li:nth-child(3){
    background-color: #9f9f9f;

}
#menu li:last-child{
    background-color: #9f9f9f;

}
/* background des liens sous menus */
#menu li:first-child li{
    background:#9f9f9f;
}
#menu li:nth-child(2) li{
    background:#9f9f9f;
}
#menu li:nth-child(3) li{
    background:#9f9f9f;
}
#menu li:last-child li{
    background:#9f9f9f;
}
/* background des liens menus et sous menus au survol */
#menu li:first-child:hover, #menu li:first-child li:hover{
    background:#8c8c8c;
}
#menu li:nth-child(2):hover, #menu li:nth-child(2) li:hover{
    background:#8c8c8c;
}
#menu li:nth-child(3):hover, #menu li:nth-child(3) li:hover{
    background:#8c8c8c;
}
#menu li:last-child:hover, #menu li:last-child li:hover{
    background:#8c8c8c;
}
/* les a href */


#menu a{
    text-decoration:none;
    display:block;
    padding:8px 32px;
    color:#fff;
    font-size: 20px;
    font-family:arial;
}
#menu ul a{
    padding:8px 0;
}
#menu li:hover li a{
    color:#fff;
    text-transform:inherit;
}
#menu li:hover a, #menu li li:hover a{
    color:#fff;
}