

#content {
    display: grid;
    grid-template-columns:25% 25% 25% 1fr;

}
#maison{
grid-column: auto;
    grid-row: auto;
}
#newmaison{
    grid-column: auto;
    grid-row: auto;

}

p{
    text-align: center;
}