h1
{
    font-size: xx-large;
    margin-left: 42vw;
}

.prof strong
{
    font-size: x-large;
}
body
{
    font-family:Arial;

}
.prof td
{
    border:1px solid black;
    padding-right: 30vw;
    padding-left: 1vw;


}

#top{
    border-top-left-radius: 2vw;
    border-top-right-radius: 2vw;


}
#bottom{
    border-bottom-left-radius: 2vw;
    border-bottom-right-radius: 2vw;


}
.prof
{
    margin-left: 25vw;
    margin-right: 25vw;
    border-spacing: 0;




}

#bouton{
    margin-left: 43vw;
    margin-right: 43vw;
    margin-top: 2vw;
    padding-top: 1vw;
    padding-bottom: 1vw;
    padding-left: 2vw;
    padding-right: 2vw;
}
