h1
{
    font-size: xx-large;
    text-align: center;
}

strong
{
    font-size: x-large;
}
body
{
    font-family: "Calibri Light";
}

td
{
    border: 1px solid black;
    padding-right: 380px;
}
table
{
    margin-left: 35%;
    border-collapse: collapse;

}
#bouton{
    margin-left: 50%;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 60px;
}
