.box1{
    display: inline-block;
    width: 40%;
    height: 10%;
    margin: 10%;
    position:absolute;
    top:0%;
}
.box2{
    display: inline-block;
    width: 40%;
    height: 10%;
    margin: 10%;
    position:absolute;
    top:20%;
}
.box3{
    display: inline-block;
    width: 40%;
    height: 10%;
    margin: 10%;
    position:absolute;
    top:40%;
}
.box4 {
    display: inline-block;
    width: 40%;
    height: 10%;
    margin: 10%;
    position: absolute;
    top: 60%;
}
h1 {
    color: rgb(0, 102, 196);
    text-transform: uppercase;
}

aside img {
    border: 1px solid black;
}

#im1 img {
    position:absolute;
    width: 5%;
    line-height: 5%;
}

#im2 img {
    position:absolute;
    width: 10%;
    line-height: 10%;
}

#im3 img {
    position:absolute;
    width: 10%;
    line-height: 10%;
}

#im4 img {
    position:absolute;
    width: 10%;
    line-height: 10%;
}

#imboutique {
    text-align: right;
}

#txt1 {
    position:absolute;
    left:20%;
    margin-right: 5%;
    padding-right: 2%;
    text-align: justify;
    marging-bottom:0%;
    padding-top: 2%;
    padding-bottom: 4.6%;
    font-size: 1.2rem;
}

#bouton{
    font-size: xx-large;
}


#txt2 {
    position:absolute;
    left:20%;
    margin-right: 5%;
    padding-right: 2%;
    text-align: justify;
    marging-bottom:0%;
    padding-top: 2%;
    padding-bottom: 4.6%;
    font-size: 1.2rem;
}

#txt3 {
    position:absolute;
    left:20%;
    margin-right: 5%;
    padding-right: 2%;
    text-align: justify;
    marging-bottom:0%;
    padding-top: 2%;
    padding-bottom: 4.6%;
    font-size: 1.2rem;
}

#txt4 {
    position:absolute;
    left:20%;
    margin-right: 5%;
    padding-right: 2%;
    text-align: justify;
    marging-bottom:0%;
    padding-top: 2%;
    padding-bottom: 4.6%;
    font-size: 1.3rem;
}

