
.titre{
    font-family: "AR BLANCA";
    position: absolute;
    top: 7%;
    Left:40%;
    font-size:4vw;
    margin-bottom: 10%;
}
.chambre{
    position:absolute;
    top:20%;
    Left:35%;
    font-size:x-large;
    margin-right: 55%;
    margin-bottom: 55%;

}
.sdb{
    position:absolute;
    top:20%;
    Left:50%;
    font-size:x-large;
    margin-right: 35%;


}
.cuisine{
    position:absolute;
    top:20%;
    Left:70%;
    font-size:x-large;


}
.salon{
    position:absolute;
    top:50%;
    Left:35%;
    font-size:x-large;


}
.wc{
    position:absolute;
    top:50%;
    Left:50%;
    font-size:x-large;


}

.chambri{
    position:absolute;
    top:33%;
    Left:30%;
    width:15%;
    height:15%;
}
.sdbi{
    position:absolute;
    top:33%;
    Left:45%;
    width:15%;
    height:15%;
}
.cuisini{
    position:absolute;
    top:33%;
    Left:65%;
    width:15%;
    height:15%;
}
.saloni{
    position:absolute;
    top:63%;
    Left:30%;
    width:15%;
    height:15%;
}
.wci{
    position:absolute;
    top:63%;
    Left:45%;
    width:15%;
    height:18%;
}


body {
    background-image: url("image/fond.jpg");
    background-size: cover;
}

.container{
    position: absolute;
    left: 0%;
    top:23%;
    height: 20%;
    width: 30%;
}

a:visited{
    color: rgb( 155,207,249);
}
a{
    color:#3c3f41;
}
